.THIS .cursorPointer{
    cursor: pointer; 
}

.THIS.slds-spinner_container {
    z-index: 10000;
    position: fixed;
}


.THIS .testing{
    height:10px;
}

.THIS .stage{
    top: 123px !important;
} 
.THIS .products .slds-form-element__label {
      display : none;
      visibility : hidden;
}
.THIS .startTimeWindow .slds-form-element__label {
      display : none;
      visibility : hidden;
}
.THIS .floating-menu {
    
    width:22%;
     height: 30%;
    overflow-y: scroll;
    position: absolute;
    padding: 5px;
    background: white;
    border-radius: 5px;
    border: 2px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
   /* height:200px; 
  width: 300px; 
  padding: 10px; 
  border: 1px solid #444;
  
  overflow: scroll;
  overflow-x: hidden;*/
   
    /*rakesh*/
}
.THIS .select-auto-width > .slds-form-element__control > .slds-select_container{
    display: inline-block;
}
.THIS .cCustomLookup .leftPaddingClass {
    padding-top: 0px !important;
}

.THIS .greenColor {
    background-color: #4be44b !important;
}

.THIS .alignLeft{
    cursor:pointer;
    float:left;
    position:relative;
}
.THIS .alignLeftInput{
    float:left;
}


.THIS .phone{ 
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
  margin: 0; 
}
/*.THIS .fontsize{padding: 0px 0px;}
@media (min-width:1920px) and (max-width:1921px) {
	.THIS .fontsize {margin-left: 73px;}
}

@media (min-width:1440px) and (max-width:1441px) {
	.THIS .fontsize {margin-left: 7px;}
}*/