.THIS .leftPaddingClass {
    padding-left: 2rem;
}
 
.THIS .pillSize{
 width:100%;
}
 
.THIS .floating-menu{
    
    width:22%;
     height: 30%;
    overflow-y: scroll;
    position: absolute;
    padding: 5px;
    background: white;
    border-radius: 5px;
    border: 2px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
   /* height:200px; 
  width: 300px; 
  padding: 10px; 
  border: 1px solid #444;
  
  overflow: scroll;
  overflow-x: hidden;*/
   
    /*rakesh*/
}